[Unit]
Description=Tattler Node.js Websocket Serer
After=network.target

[Service]
ExecStart=/usr/bin/node /usr/local/share/tattler/bin/start.sh
WorkingDirectory=/usr/local/share/tattler
Environment=NODE_ENV=production
Environment=NODE_CONFIG_DIR=/usr/local/share/tattler/config
Environment=NODE_LOG_DIR=/usr/local/share/tattler/logs
Environment=NODE_CONFIG_DISABLE_FILE_WATCH=Y
Environment=NODE_CLUSTERED=1
Environment=NODE_SERVE_STATIC=1
Environment=NODE_HOT_RELOAD=0
Restart=always
User=nobody
Group=nobody

StandardOutput=file:/usr/local/share/tattler/logs/out.log
StandardError=file:/usr/local/share/tattler/logs/err.log

Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_PATH=/usr/lib/node_modules

ExecStop=/usr/bin/pm2 stop tattler

[Install]
WantedBy=multi-user.target