[Unit]
Description=Tattler Node.js Websocket Server
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/usr/local/share/tattler
ExecStart=/usr/bin/node /usr/local/share/tattler/server.js
Restart=always
RestartSec=10s
StartLimitInterval=500s
StartLimitBurst=5

Environment=NODE_ENV=production
Environment=NODE_CONFIG_DISABLE_FILE_WATCH="Y"
Environment=NODE_LOGGER_LEVEL='notice'
Environment=NODE_LOGGER_PLUGIN='util'
Environment=NODE_LOGGER_GRANULARLEVELS=0
Environment=NODE_LAUNCH_SCRIPT=/usr/local/share/tattler/server.js
Environment=NODE_CLUSTERED=1
Environment=NODE_HOT_RELOAD=0
Environment=NODE_CONFIG_DIR=/usr/local/share/tattler/config
Environment=NODE_LOG_DIR=/var/log/tattler

# Redirect output to log files
StandardOutput=file:/var/log/tattler/websocket.log
StandardError=file:/var/log/tattler/websocket.log


[Install]
WantedBy=multi-user.target